/* NotFoundPage.module.css */

.wrapper {
  background-color: white;
}

.code {
  font-size: 6rem;
  color: #0077ff;
  letter-spacing: 2px;
}

.homeBtn {
  background-color: #6050DC;
  border: none;
  transition: all 0.3s ease;
}

.homeBtn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
